@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h2, .h2 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #fffc04;
  padding-left: 25px;
}

body {
  background-color: rgb(252, 252, 252);
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 60px;
}
