@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");


body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h2, .h2 {
    font-size: 32px;
    font-family: inherit;
    color: #9771c6;
}

p {
    font-size: 20px;
}


img {
    vertical-align: middle;
    margin-left: -15px;
}


.navbar-default {
    background-color: #24282b;
    border-color: #24282b;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -1px;
}

.navbar-nav {
    padding-left: 100px;
    background-color: #25282c;
}


.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav>li {
    position: relative;
    margin-top: 0px;
    display: block;
    background-color: #25282c;
    font-size: 25px;
}









    
  .box {
    border-radius: 0px;
  }
  
  .box.box-solid {
    border: 0!important;
    border-top: 0 solid #666!important;
  }
  
  .box.box-success {
    border-top-color: rgba(72, 138, 153, 0.5)!important;
  }
  
  .box.box-warning {
    border-top-color: rgba(219, 174, 88, 1)!important;
  }
  
  .box.box-danger {
    border-top-color: #666!important;
  }
  
  .box.box-solid.box-primary>.box-header {
    background-color: rgba(72, 138, 153, 1)!important;
  }
  
  .box.box-solid.box-warning>.box-header {
    background-color: rgba(30, 40, 62, 1)!important;
  }
  
  .box.box-solid.bg-yellow {
    color: #000!important;
    background-color: rgba(0, 0, 0, 0)!important;
    border-bottom: 1px solid #888!important;
    box-shadow: none;
  }
  
  .bg-black {
      background-color: #333!important;
  }
  
  .bg-navy {
      background-color: rgba(72, 72, 72, 1)!important;
  }
  
  .bg-green {
      background-color: rgba(218, 218, 218, 0.5)!important;
      color: #222!important;
  }